@tailwind base;
@tailwind components;
@tailwind utilities;

.grad-border {
  border-image: linear-gradient(#f6b73c, #4d9f0c);
  border: 2px solid transparent;
  border-image-slice: 1;
  border-style: solid;
  
}
